{<<"app">>,<<"rebar3_codecov">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Rebar3 plugin converting .coverdata files to codecov compatible JSON">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/rebar3_codecov.app.src">>,<<"src/rebar3_codecov.erl">>,
  <<"src/rebar3_codecov_prv.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/esl/rebar3_codecov">>}]}.
{<<"name">>,<<"rebar3_codecov">>}.
{<<"requirements">>,
 [{<<"jsone">>,
   [{<<"app">>,<<"jsone">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.8.0">>}]}]}.
{<<"version">>,<<"0.6.0">>}.
